.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.card {
  width: 100%;
  max-width: 420px;
  background: #2b2b2b;;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.06);
  text-align: center;
}

.title {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input {
  padding: 0.65rem 0.75rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 0.95rem;

  &:focus {
    outline: none;
    border-color: #6b7cff;
  }
}

.button {
  margin-top: 0.5rem;
  padding: 0.65rem;
  border-radius: 6px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 0.95rem;

  &:hover {
    background: #5a6af0;
  }
}

.message {
  font-size: 0.95rem;
  color: #333;
}

.success {
  color: #1a7f37;
}

.error {
  margin-top: 1rem;
  color: #b42318;
  font-size: 0.9rem;
}
