
.form {
    background: white;
    border-radius: 16px;
    padding: 24px;
    width: 100%;
    max-width: 420px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 18px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);

    h2 {
        color: black;
        text-align: center;
        margin-bottom: 10px;
    }

    label {
        display: flex;
        flex-direction: column;
        gap: 6px;
        font-size: 14px;
        color: black
    }

    input {
        padding: 10px 12px;
        border-radius: 8px;
        border: 1px solid gray;
        font-size: 14px;

        &:focus {
        outline: none;
        border-color: black;
        }
    }
}

.actions {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    margin-top: 10px;

    button {
        flex: 1;
        padding: 10px;
        border-radius: 8px;
        font-size: 14px;
        cursor: pointer;
    }

    button[type="button"] {
        background: transparent;
        border: 1px solid grey;
        color: black;
    }

    button[type="submit"] {
        background: #0070f3;
        border: none;
        color: white;
    }
}

.error {
  color: red;
  font-size: 13px;
  text-align: center;
}
